.secer1,
form {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.secer1 h1 {
    font-size: 5em;
    text-transform: uppercase;
    color: white;
}

.secer1 form {
    margin-top: 20px;
    width: 80%;
}

.secer1 form input {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: var(--bg2);
    color: white;
    font-size: 1.1em;
}

.secer1 form textarea {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: var(--bg2);
    color: white;
    font-size: 1.1em;
}

.secer1 form button {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: var(--grnbg2);
    cursor: pointer;
    color: var(--bg2);
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 1.1em;
}

#perantfeed {
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#perantfeed .boxes {
    /* background-color: aliceblue; */


    /* padding: 20px ; */
}

#perantfeed .box {
    background-color: var(--grnbg2);
    margin-bottom: 20px;
    width: 30%;
    border-radius: 5px;
    padding: 20px 30px;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
/* loader */

/* HTML: <div class="loader"></div> */
.loader {
    
    width: 5%;
    aspect-ratio: 1;
    --c:no-repeat linear-gradient(#15eb80 0 0);
    background: var(--c), var(--c), var(--c);
    animation: 
      l18-1 1s infinite,
      l18-2 1s infinite;

      position: fixed;
  }
  @keyframes l18-1 {
   0%,100% {background-size:20% 100%}
   33%,66% {background-size:20% 20%}
  }
  @keyframes l18-2 {
   0%,33%   {background-position: 0    0,50% 50%,100% 100%}
   66%,100% {background-position: 100% 0,50% 50%,0    100%}
  }
  .loadey{
    background-color: rgba(51, 51, 51, 0.808);
    /* border: 2px solid  red; */
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

  }